@import "./reset";

html {
  font-family: 'Roboto', sans-serif !important;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background: #b9b9b9;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow: hidden;
}
