.wrapper {
    width: inherit;
    justify-content: space-between;
    align-items: center;
}

.img_link_wrapper {
    margin-right: 15px;
}

.mobile_link {
    color: #0D6EFD;
    font-size: 14px;
}

.name {
    font-weight: bold;
}
