.title_first {
    color: #1ABA1A !important;
    font-weight: bold !important;
}

.title_second {
    color: #999 !important;
    margin-bottom: 15px !important;
}

.input {
    width: 507px;
}

.link_forgot {
    text-decoration-line: underline;
    color: #999;
    margin-bottom: 10px;
}

.button {
    background-color: #1ABA1A;
    height: 51px;
    width: 139px;
}

.label_signup {
    color: #999;
}

.link_signup {
    color: #1ABA1A;
}

