.navbar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    background-color: #ffffff; 
    height: 144px;
    padding: 0px;
    border-radius: 10px;
    
    @media screen and (max-width: 480px) {
        justify-content: center;
    }
}


