.wrapper {
    margin-top: 15px;
}

.tag {
    display: flex;
    background-color: #EBEEF6;
    width: 105px;
    height: 28px;
    align-items: center;
    justify-content: end;
    font-size: 12px;
    font-weight: bold;
    border-radius: 6px;
}

.phone {
    margin-left: 20px;
    font-weight: bold;
}
