.header {
    font-weight: bold !important;
    margin: 5px;
    margin-bottom: 20px !important;
}

.phone {
    color: #1ABA1A;
    font-weight: bold;
    font-size: 30px;
    margin-top: -10px;
    margin-bottom: 30px;
}

.img_link_wrapper {
    margin-right: 10px;
    margin-top: 30px;
}

.currency {
    height: 100%;
    align-items: center;
}
