.link_block_wrapper {
    color: #666;
    margin-left: 40px;
    margin-right: 40px;
}

.link_block_header {
    font-weight: bold !important;
    margin-bottom: 20px !important;
}

.link_block_header, .link {
    margin: 5px;

}

