.wrapper {
    line-height: 0px;
}

.image_wrapper {
    margin-left: 14px;
}

.image {
    border-radius: 100%;
}

.auth_widget_wrapper {
    line-height: 18px;
    margin-left: 14px;
}

.header_inscription {
    font-size: 11px;
    color: #666;
}

.link_wrapper {
    font-size: 14px;
    font-weight: bold;
}
