.wrapper {
    margin: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.title {
    font-weight: bold !important;
    margin-bottom: 20px !important;
}

.title_red {
    color: #F1352B;
}

.input {
    border-radius: 0px;
    border: solid 0px;
    border-bottom: solid 1px #66666648;
    margin-bottom: 10px;
}

.under_input {
    font-style: italic;
    font-size: small;
    color: #666666;
}

.under_input_link {
    font-style: italic;
    font-size: small;
    text-decoration: underline;
}
